@{
    ViewData["Title"] = "Upload Supporting Documents"; //(IIE, 2024)
}

<h2>Upload Supporting Documents</h2>

<form>
    <div class="form-group"> 
        <label for="document">Upload Document</label>
        <input type="file" class="form-control" id="document">
    </div>
    <button type="submit" class="btn btn-primary">Upload</button>
</form>
